#hero {
  .hero-background {
    @include hero-background($background-image-color, './images/hero-background.jpg');
    .content-container {
      position: relative;
      left: 100px;
      top: 40vh;
      .section-heading {
        @include H1('left', $white);
      }
      .section-line {
        @include H2('left', $white);
        display: block;
      }
      .app-store-links {
        width: 200px;
        padding: 10px 10px 10px 0px;
        cursor: pointer;
      }
    }
  }
}